@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #0f172a, #581c87, #0f172a);
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, #0f172a, #581c87, #0f172a);
  background-attachment: fixed;
}

#root {
  min-height: 100%;
  height: 100%;
}

